body {
  background: url(images/SmokeBackground2.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 0;
  display: inline-block;
  box-sizing: border-box;
  margin: 7.5%;
}

ul li {
  display: inline;
  font-family: Germania One, serif;
  text-align: left;
  border-bottom-style: solid;
  word-spacing: 25px;
  padding: 10px;
}

#MyName {
  word-spacing: normal;
  border-right-style: solid;
  padding-right: 10px;
}

h1 {
  font-family: Germania One, serif;
  text-align: center;
  padding: 30px;
}

.about {
  background-color: #ead9a8;
  color: #494845;
  padding: 15px;
  font-family: El Messiri, sans-serif;
  text-align: left;
  display: inline-flex;
}

p {
  margin: 20px;
  display: inline-flex;
}

img {
  display: inline-block;
  max-width: 250px;
  max-height: 115px;
  width: auto;
  height: auto;
  margin: auto;
}

.experience {
  background-color: #ead9a8;
  color: #494845;
  display: block;
  font-family: El Messiri, sans-serif;
  padding: 15px;
}

h3 {
  text-align: left;
  font-family: Germania One, serif;
  padding: 5px;
}

.IntroSkills {
  background-color: #ead9a8;
  color: #494845;
  padding: 15px;
  font-family: El Messiri, sans-serif;
  text-align: center;
}
 .Skills {
   display: inline-block;
   background: linear-gradient(gray, black);
   font-family: Germania One, serif;
   text-align: center;
   width: 4em;
   padding: .1em .25em;
   border: 5%;
   margin-right: 2.5%;
   margin-top: 3%;
 }
